<!-- Comentarii review -->
<div class="container-fluid mt--7">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">

                <div class="product-conversations-list js-reviews-list">
                    <div class="product-review-item js-review-item row border-bottom" data-id="756355" data-product-pnk="DZJJHYBBM"
                        data-product-sef-name="selfie-stick-a-bluetooth-105-cm-negru-ssbln">
                        <div class="col-md-3">
                            <div class="product-review-head">
                                <div class="product-review-user-avatar">
                                    <div class="user-avatar user-avatar-sm">
                                        <div class="thumbnail" style="background-color: #b1b1b1">
                                            <div class="picture" 
                                                style="background-image: url('https://graph.facebook.com/956394454433991/picture?width=78&amp;height=78&amp;date=20180312080300')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-review-user-meta">
                                    <p class="product-review-author mrg-top-xs semibold">Prenume, Nume</p>
                                    <p class="small text-muted mrg-sep-none">Data, review</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="product-review-body">
                                <h3 class="product-review-title">
                                    <!-- titlu -->
                                    titlu: SKILL - POINTS
                                </h3>
                                <div class="mrg-btm-xs js-review-body review-body-container"
                                    id="review-body-collapse-756355">
                                    Comentariu .........
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-review-item js-review-item row border-bottom" data-id="756355" data-product-pnk="DZJJHYBBM"
                        data-product-sef-name="selfie-stick-a-bluetooth-105-cm-negru-ssbln">
                        <div class="col-md-3">
                            <div class="product-review-head">
                                <div class="product-review-user-avatar">
                                    <div class="user-avatar user-avatar-sm">
                                        <div class="thumbnail" style="background-color: #b1b1b1">
                                            <div class="picture" 
                                                style="background-image: url('https://graph.facebook.com/956394454433991/picture?width=78&amp;height=78&amp;date=20180312080300')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-review-user-meta">
                                    <p class="product-review-author mrg-top-xs semibold">Prenume, Nume</p>
                                    <p class="small text-muted mrg-sep-none">Data, review</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="product-review-body">
                                <h3 class="product-review-title">
                                    <!-- titlu -->
                                    titlu: SKILL - POINTS
                                </h3>
                                <div class="mrg-btm-xs js-review-body review-body-container"
                                    id="review-body-collapse-756355">
                                    Comentariu .........
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>