<!-- Comentarii review -->


<div class="container">
  <div class="row d-flex" >
    <div class="col-sm-12 col-lg-6 order-xl-4 mb-5 mb-xl-5" *ngFor="let review of reviews;let i = index;">
    <app-card  [review] = "review" [expanded] = "expanded[i]"></app-card>
    </div>
  </div>
<div class="form-row text-center">
  <div class="col-12">
<button *ngIf="canMessage" [innerText]="'Add review for '+ cUser.firstName" class="btn btn-danger" (click) = "displayDialogAddRev = !displayDialogAddRev"></button>
</div>
</div>
<app-add-review *ngIf="canMessage" [displayDialogAddRev]="displayDialogAddRev"></app-add-review>
</div>
