.product-review-item {
    color: #444;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.comment{
  padding-left: 1.25rem;
}

.row {
    margin-left: 0.625rem;
    margin-right: 0.3125rem;
}

.product-review-head .product-review-user-avatar p, .product-review-head .product-review-user-meta p {
    margin-bottom: 0.1875rem;
}

.mrg-top-xs {
    margin-top: 0.625rem;
}

.semibold {
    font-weight: 600;
}

p {
    margin: 0 0 0.625rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

.product-review-head .product-review-user-avatar p, .product-review-head .product-review-user-meta p {
    margin-bottom: 0.1875rem;
}

.mrg-sep-none {
    margin-top: 0;
    margin-bottom: 0;
}

.text-muted {
    color: #888;
}

.small, small {
    font-size: 85%;
}

.col-md-4, .col-md-8, .col-md-4 {
    position: relative;
    min-height: 0.0625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.product-review-body {
    display: block;
    position: relative;
}

.product-review-title {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0.125rem 0;
}

.h3, h3 {
    font-size: 0.875rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.42857;
    color: inherit;
}

.review-body-container {
    line-height: 1.25rem;
}

.mrg-btm-xs {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
}

.user-avatar .picture {
    position: absolute;
    top: -0.0625rem;
    left: -0.0625rem;
    right: -0.0625rem;
    bottom: -0.0625rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.user-avatar .thumbnail {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    overflow: visible;
    border-radius: 50%;
    background-color: #aaa;
}

.thumbnail {
    position: absolute;
    overflow: hidden;
    display: block;
    top: 0.3125rem;
    left: 0.3125rem;
    right: 0.3125rem;
    bottom: 0.3125rem;
    text-align: center;
    z-index: 1;
    color: inherit!important;
    text-decoration: none!important;
}

.user-avatar {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 0;
    line-height: 1.42857;
    color: #fff;
    vertical-align: middle;
}

.product-review-item .user-avatar {
    border: 0 transparent;
}

.border-bottom {
    border-bottom: 0.0625rem solid #dee2e6!important;
}

.progress {
    margin-bottom: 0;
}

.row:after {
    clear: both;
}

.row:after, .row:before {
    content: " ";
    display: table;
}

:after, :before {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .user-avatar.user-avatar-sm {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (min-width: 768px) {
    .h3, h3 {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 0.625rem;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 16.66667%;
    }
}

@media (min-width: 992px) {
    .col-md-8, .col-md-4 {
        float: left;
    }
}

@media (min-width: 992px) {
    .product-review-head .product-review-user-avatar {
        display: block;
    }
}

@media (min-width: 992px) {
    .product-review-head .product-review-user-meta {
        display: block;
    }
}

@media (max-width: 991px) {
    .product-review-head .product-review-user-avatar {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 991px) {
    .product-review-head .product-review-item-image, .product-review-head .product-review-user-avatar {
        display: table-cell;
        vertical-align: middle;
    }
}

