<div class="p-grid p-nogutter">
  <div class="p-col-12" class="cursor">
    <img src="assets/images/{{department.description}}.png" style="width: 12rem; height: 12rem;"
    onerror="this.src='assets/images/broken.png'" (click)="displayDialogColeagues = true"/>
  </div>
  <div class="p-col-12">
    <h2>{{department.description}}</h2>
  </div>
</div>

<p-dialog header="{{department.description}}" [(visible)]="displayDialogColeagues" [responsive]="true" showEffect="fade"
  [modal]="true" selectionMode="single" [style]="{'max-width': '120rem'}" (onHide)="displayDialogColeagues = false">
  <p-table #tt [value]="users" [columns]="colsUser" [paginator]="true" [rows]="10" sortMode="multiple">
    <ng-template pTemplate="caption">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </ng-template>
    <ng-template pTemplate="header" let-colums>
      <tr>
        <th *ngFor="let col of colsUser" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of colsUser" [ngSwitch]="col.field">
          <input *ngSwitchCase="'userId'" pInputText type="text" style="width:100%"
            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'firstName'" pInputText type="text" style="width:100%"
            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'lastName'" pInputText type="text" style="width:100%"
            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'dateOfBirth'" pInputText type="text" style="width:100%"
            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'email'" pInputText type="text" style="width:100%"
            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'skype'" pInputText type="text" style="width:100%"
            (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-rowData let-columns="colsUser">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of colsUser">
          <div [ngSwitch]="col.field">
            <div *ngSwitchCase="'dateOfBirth'" [routerLink]="['/profile', user.userId]">{{user[col.field] | date: 'dd MMM y'}}</div>
            <div *ngSwitchDefault [routerLink]="['/profile', user.userId]">{{user[col.field]}}</div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</p-dialog>
