<div class="card">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="" (click)="expanded=!expanded">
            {{ skillSubCategory.description }}
        </a>
    </div>
    <div class="collapse show" data-parent="#accordion">
        <div class="card-body" *ngIf="expanded">
            <div *ngFor="let skill of skills">
                <app-skill-card (skillPoints)="getSkillPoints($event)" [skill]="skill"></app-skill-card>
            </div>
        </div>
    </div>
</div>
