<p-dialog header="Add Review" [(visible)]="displayDialogAddRev" [responsive]="true" showEffect="fade" [modal]="true"
  selectionMode="single" [style]="{'max-width': '120rem'}" (onHide)="closeModal()">
  <div class="panel panel-default mrg-top-md" style="min-width: 68rem;">
    <div class="table-cell col-xs-12 col-sm-12">
      <h4 class="mrg-btm-none strong">Scrie review pentru {{cUser.firstName}}:</h4>
    </div>
    <div class="marg10">
      <div class="container">
        <div id="accordion" *ngFor="let subCategory of subCategories">
          <app-skill-category [skillSubCategory]="subCategory" [skillPoints]="getAllSkillPointsForSubCategory(subCategory.categoryId)"></app-skill-category>
        </div>
      </div>
    </div>
    <h3 class="first">Add a comment</h3>
    <span class="ui-float-label">
      <textarea [(ngModel)]="comment" id="float-input" rows="5" cols="145" pInputTextarea></textarea>
    </span>

    <div class="marg10">
      <button type="button" class="btn btn-sm btn-success" (click)="addReviewsToServer();closeModal()">Add review</button>
      <button type="button" (click)="closeModal()" class="btn btn-sm btn-outline-secondary">Cancel</button>
    </div>
  </div>
</p-dialog>
