<p-dialog header="Add Review" [(visible)]="displayDialogAddRev" [responsive]="true" showEffect="fade" [modal]="true"
  selectionMode="single" [style]="{'max-width': '120rem'}">
  <div class="panel panel-default mrg-top-md">
    <div class="panel-heading panel-heading-extra">
      <div class="table-layout row block-sm-layout">
        <div class="table-cell table-head hidden-xs col-sm-3 col-md-1">
          <div class="thumbnail-wrapper">
            <div class="thumbnail">
              <img
                src="https://s12emagst.akamaized.net/products/18190/18189493/images/res_b95a5517c520fb26b7b81af940ed8fee_80x80_rcq9.jpg"
                alt="Product image">
            </div>
          </div>
        </div>
        <div class="table-cell col-xs-12 col-sm-12 col-md-11">
          <h4 class="mrg-btm-none strong">Scrie review pentru:</h4>
          <h2 class="font-size-sm mrg-sep-xs"><a href="/legor-technic-porsche-911-rsr-42096-5702016369878/pd/D5CSL4BBM/"
              class="js-product-url">LEGO® Technic - Porsche 911 RSR 42096</a></h2>
        </div>
      </div>
    </div>
    <div class="panel-body panel-body-extra">
      <div id="add-review-container">
        <div class="row">
          <div class="col-sm-7">
            <form id="reviewContent" class="add-review" method="POST" action="" novalidate="true">
              <input type="hidden" class="em-vars" value="{ &quot;ratingMessages&quot;: [
                    &quot;Acorda o nota&quot;,
                    &quot;Nu recomand&quot;,
                    &quot;Slab&quot;,
                    &quot;Acceptabil&quot;,
                    &quot;Bun&quot;,
                    &quot;Excelent&quot;
                ] }">
              <input type="hidden" id="user-token" name="token" value="">
              <input type="hidden" name="part_number_key" value="">
              <input type="hidden" name="source_id" value="7">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="review-user-rating">Rating:</label>
                    <div>
                      <div id="review-user-rating-component">
                        <div class="star-rating star-rating-input  star-rating-lg  star-rating-input ">
                          <div class="star-rating-inner "><button type="button" class="em em-star_fill "
                              data-rating="5"></button><button type="button" class="em em-star_fill "
                              data-rating="4"></button><button type="button" class="em em-star_fill "
                              data-rating="3"></button><button type="button" class="em em-star_fill "
                              data-rating="2"></button><button type="button" class="em em-star_fill "
                              data-rating="1"></button></div>
                          <input type="hidden" name="rating" value="0" required="">
                        </div> <span id="review-user-rating-text" class="star-rating-text star-rating-lg strong">Acorda
                          o nota</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="visible-xs mrg-top-xs mrg-btm-sm complaints-mobile-wrapper">
                    <p class="font-size-md text-muted">Probleme cu produsul sau livrarea?</p>
                    <a target="_blank" href="/info/form/reclamatii-sesizari">
                      <i class="em em-exclamation-bubble font-size-md"></i>
                      <span class="strong">Trimite o sesizare</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label for="review-body" class="control-label">Review:</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <textarea class="form-control review-content" id="review-body" name="content" rows="7"
                      placeholder="Descrie experiența ta cu produsul" required=""></textarea>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="visible-xs mrg-btm-xs description-tips-mobile-wrapper">
                    <a href="#" class="ph-widget ph-collapse-one text-muted font-size-md js-collapse-description"
                      data-phino="CollapseOne" data-ph-target="#collapse-description-mobile" tabindex="0">
                      <span class="collapse-text">Nu stii despre ce sa scrii?</span>
                      <i class="em em-down em-xs icon-arrow font-size-xs"></i>
                    </a>
                    <div id="collapse-description-mobile" class="collapse" style="overflow-y: hidden;">
                      <p class="text-muted pad-top-xs">Spune-ne daca iti place sau nu ce ti-ai luat.</p>
                      <ul class="text-muted">
                        <li>Se ridica la nivelul asteptarilor tale?</li>
                        <li>Esti multumit de raportul calitate pret?</li>
                        <li>Daca ai recomanda si altora</li>
                      </ul>
                      <p class="text-muted">
                        Încă nelămurit? Citeste <a href="#" class="btn-link" data-phino="ModalTrigger"
                          data-ph-content="#suggestions_modal" data-ph-title="Nu stii despre ce sa scrii?"
                          data-ph-size="modal-lg"><strong>ghidul pe scurt</strong></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label for="title" class="control-label">Titlu review: <small
                      class="text-muted">(optional)</small></label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="title" name="title"
                      placeholder="Folosește o sugestie sau scrie propriul titlu">
                  </div>
                  <div class="form-group hidden" id="review-title-suggestions-container">
                    <div class="row">
                      <div class="col-sm-3">
                        <span class="text-muted">Sugestii titlu</span>
                      </div>
                      <div class="col-sm-9">
                        <div id="review-title-suggestions"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="js-files"></div>
              <button class="hidden add-review-form-submit"></button>
            </form>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group js-add-review-gallery">
                  <label for="review-body" class="control-label">Galerie: <small
                      class="text-muted">(optional)</small></label>
                  <div data-photon="Carousel" data-ph-dots="false" data-ph-arrows="false" data-ph-snap="true"
                    data-ph-handle-resize="true" class="add-review-gallery multimedia-gallery ph-body">
                    <div class="thumbnail-wrapper add-multimedia-item">
                      <div class="thumbnail ">
                        <i class="em em-plus"></i>
                        <input type="file" name="review-multimedia" accept=".png, .jpg, .jpeg, .gif" multiple="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <div class="pad-btm-lg">
                  <p class="text-muted small">Prin publicarea review-ului, esti de acord cu <a
                      href="/info/termeni-si-conditii/" target="_blank">termenii si conditiile</a> site-ului</p>
                  <button type="submit" class="submit-forms js-submit-forms btn btn-sm btn-primary gtm_q0cc7g">Adauga
                    review</button>
                  <a href="/legor-technic-porsche-911-rsr-42096-5702016369878/pd/D5CSL4BBM/"
                    class="reset-forms btn btn-sm btn-link" data-dismiss="true">Anuleaza</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-offset-1 col-sm-5 col-md-4 hidden-xs">
            <div class="col-xs-12 mrg-top-lg"></div>
            <div class="col-xs-12 mrg-top-lg"></div>
            <div class="complaint-description-tips-wrapper">
              <a href="#" class="ph-widget ph-collapse-one text-muted font-size-md active js-collapse-complaint"
                data-phino="CollapseOne" data-ph-target="#collapse-complaint" tabindex="0">
                <i class="em em-lifebuoy"></i>
                <span class="collapse-text">Probleme cu produsul sau livrarea?</span>
                <i class="em em-down em-xs icon-arrow font-size-xs"></i>
              </a>
              <div id="collapse-complaint" class="collapse-complaint collapse pad-hrz-md in"
                style="overflow-y: hidden;">
                <p class="text-muted pad-top-xs">Te putem ajuta: trimite o sesizare folosind formularul din zona eMAG
                  Help.</p>
                <a target="_blank" href="/info/form/reclamatii-sesizari" class="send-complaint-btn">
                  <div class="col-xs-12 mrg-top-xs visible-xs"></div>
                  <i class="em em-exclamation-bubble font-size-md"></i>
                  <span class="strong">Trimite o sesizare</span>
                </a>
                <a href="#" id="liveagent_button_online_5730Y000000kIKn" class="live-chat-btn hidden"
                  style="display:none;">
                  <i class="em em-live-chat font-size-md"></i>
                  <span class="strong">Suport rapid</span>
                </a>
              </div>
              <hr>
              <a href="#" class="ph-widget ph-collapse-one text-muted font-size-md js-collapse-description"
                data-phino="CollapseOne" data-ph-target="#collapse-description" tabindex="0">
                <i class="em em-light-bulb"></i>
                <span class="collapse-text">Nu stii despre ce sa scrii?</span>
                <i class="em em-down em-xs icon-arrow font-size-xs"></i>
              </a>
              <div id="collapse-description" class="collapse pad-hrz-md" style="overflow-y: hidden;">
                <p class="text-muted pad-top-xs">Spune-ne daca iti place sau nu ce ti-ai luat.</p>
                <ul class="text-muted">
                  <li>Se ridica la nivelul asteptarilor tale?</li>
                  <li>Esti multumit de raportul calitate pret?</li>
                  <li>Daca ai recomanda si altora</li>
                </ul>
                <p class="text-muted">
                  Încă nelămurit? Citeste <a href="#" class="btn-link" data-phino="ModalTrigger"
                    data-ph-content="#suggestions_modal" data-ph-title="Nu stii despre ce sa scrii?"
                    data-ph-size="modal-lg"><strong>ghidul pe scurt</strong></a>
                </p>
              </div>
            </div>
            <div class="pad-btm-sm visible-xs"></div>
          </div>
        </div>
        <script type="text/html" id="review-title-suggestion-template">
          <button type="button" class="btn btn-xs btn-review-title gtm_y1jwhr"><%= title %></button>
        </script>
      </div>
    </div>
  </div>
</p-dialog>
