<p-dialog header="Add Review" [(visible)]="displayDialogAddRev" [responsive]="true" showEffect="fade" [modal]="true"
  selectionMode="single" [style]="{'max-width': '120rem'}">
  <div class="panel panel-default mrg-top-md">
    <div class="table-cell col-xs-12 col-sm-12">
      <h4 class="mrg-btm-none strong">Scrie review pentru (NUMELE):</h4>
    </div>

    <div class="marg10" *ngFor="let skillCategory of skillCategories;">
      <p> componenta </p>
      <app-skill-category [skillCategory] = "skillCategory"></app-skill-category>
    </div>

    <div class="marg10">
      <button type="button" class="btn btn-sm btn-success">Adauga review</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Anulare</button>
    </div>
  </div>
</p-dialog>