.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/images/bubble-background.jpeg');
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

app-navbar{
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #AD5CAD;
}


app-footer{
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: 100px;
  border-top: 1px solid #AD5CAD;
}
