<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span *ngFor="let span of ' '.repeat(20).split('')"></span>
    </div>

    <div class="header pb-8 pt-5 pt-lg-8" style="background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-danger opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white" *ngIf="!canMessage">Hello, {{cUser.firstName}} !!!</h1>
            <p class="text-white mt-0 mb-5" *ngIf="!canMessage">This is your skilled-orientated profile page. You can see the progress
              you've made with your work-related skills and manage your personal skills and reviews</p>
            <a href="#!" class="btn btn-info" *ngIf="!canMessage">Edit profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <div *ngIf="!canMessage" class="profile-pic owner" [ngStyle]="{'background-image': profilePhoto}"
                    (click)="uploader.click()">
                    <span><i class="fa fa-camera-retro"></i></span>
                    <span>&nbsp;Change Image</span>
                  </div>
                </div>
                <div *ngIf="canMessage" class="card-profile-image">
                  <div class="profile-pic" [ngStyle]="{'background-image': profilePhoto}">
                  </div>
                </div>
                <div class="container">
                  <div class="d-flex justify-content-center">
                    <input hidden type="file" (change)="OnFileSelected($event)" #uploader>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a> -->
                <a [attr.href]="skype(cUser.skype)" class="btn btn-sm btn-default float-right"
                  *ngIf="canMessage">Message</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22&nbsp;</span>
                      <span class="description">Friends,&nbsp;</span>
                    </div>
                    <div>
                      <span class="heading">10&nbsp;</span>
                      <span class="description">Photos,&nbsp;</span>
                    </div>
                    <div>
                      <span class="heading">89&nbsp;</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>{{cUser.firstName}} {{cUser.lastName}},
                  <span class="font-weight-light">{{CalculateAge(cUser.dateOfBirth)}}
                  </span>
                </h3>
                <div class="h5 font-weight-300 style-location" *ngIf="ipData">
                  <i class="fa fa-map-marker"></i>&nbsp;City: {{ipData.city}}, County: {{ipData.region}}, Country:
                  {{ipData.country}}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4" />
                <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records
                  all of his own music.</p>
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
