.card-profile-image img {
  position: absolute;
  left: 50%;
  max-width: 9.365rem;
  -webkit-transform: translate(-50%,-30%);
  transform: translate(-50%,-30%);
  border-radius: .375rem;
  border-top: 0px;
  transition: all .2s ease-in-out;
  opacity: 1;
  background-color: rgba(26,188,156,.9);
}

.card-profile-image img:hover {
  max-width: 10rem;
  opacity: 0.22;
}

.card-profile-image img, .shadow {
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;
}

.rounded-circle {
  border-radius: 50%!important;
}

img {
  vertical-align: middle;
  border-style: none;
}

