<h3>Filters</h3>
<hr style="border-top: dotted 3px;" />

  <div style="display:inline-block;margin-right: 2vw;">
    Date from:
    <mat-form-field appearance="fill">
      <mat-label>zz.ll.aaaa</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div style="display:inline-block;">
    Date until:
    <mat-form-field appearance="fill">
      <mat-label>zz.ll.aaaa</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

<div>
  <button type="button" class="btn btn-secondary" style="margin-right: 2vw;"><i class="fa fa-close"></i>Cancel</button>
  <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
</div>

<br>

<h3 style="color: blue;">Document composition</h3>
<hr style="border-top: dotted 3px; color: blue" />

<br>
<div class="row">
<div class="col">
  <div class="card">
    <p-table #dt [value]="customers" [(selection)]="selectedCustomers" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
        [paginator]="true"
        [filterDelay]="0" [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                List of Documents
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="date">Scan Date <p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="name">File <p-sortIcon field="name"></p-sortIcon></th>
                <th style="width: 8rem">Azioni</th>
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                  <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="p-column-filter" [panelStyle]="{'width':'21vw'}" placeholder="Registration Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
              </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'startsWith')" placeholder="Search by File" class="p-column-filter">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td>
                <td>
                  <span class="p-column-title"></span>
                  {{customer.date}}
              </td>
                <td>
                    <span class="p-column-title"></span>
                    {{customer.name}}
                </td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="fa fa-file"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>


<div class="col">
<ngx-doc-viewer [url]="'https://file-examples.com/wp-content/uploads/2017/02/file-sample_100kB.docx'"
viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer>
</div>

</div>
<br>
<button type="button" class="btn btn-primary"><i class="fa fa-file"></i>&nbsp;Generate File</button>
